---
{
"stream": {
"$id": "hospitallisting",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_hospitalanswer"
]
},
"fields": [
"id",
"uid",
"meta",
"name",
"slug",
"photoGallery"


],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Category page for {{name}}.>
    {{>head}}
    {{>schema-productCategory}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <script src="https://assets.sitescdn.net/answers/v1/answerstemplates.compiled.min.js"></script>
    <script src="https://assets.sitescdn.net/answers/v1/answers.js"></script>
    <link rel="stylesheet" href="../src/global.css">
</head>

<body>
    <header class="bg-black">
        <div class="container mx-auto px-4 flex flex-wrap items-center py-2.5">
            <div class="logo w-full lg:w-1/4 px-4 text-center lg:lext-left">
                <a href="#" class="inline-block"><img src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png"
                        alt="logo"></a>
            </div>
            <div class="nav w-full lg:w-2/4 px-4 py-2 ml-auto">
                <ul class="flex flex-row text-white justify-center lg:justify-end">
                    <li class="mx-2 lg:mx-5"><a href="index.html">Home</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">About</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">Blog</a></li>
                    <li class="mx-2 lg:mx-5"><a href="search.html">Answers</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">Contacts</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="relative overflow-hidden bg-no-repeat bg-cover mb-10" style="
    background-position: 50%;
    background-image: url('https://www.reneehospital.com/wp-content/uploads/2018/07/14-1.jpg');
    height: 350px;">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.75)">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-3xl md:text-5xl font-bold mt-0 mb-6">Hospitals</h1>
                    <button type="button"
                        class="inline-block px-6 py-2.5 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                        data-mdb-ripple="true" data-mdb-ripple-color="light">
                        Get started
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{>hospitalanswer}}
    {{>footer}}

</body>

</html>